// fonts
.font-fb(@fw: normal) {
  font-family: "Futura PT Book", Arial, sans-serif;
  font-weight: @fw;
}

.font-fm(@fw: normal) {
  font-family: "Futura PT Book", Arial, sans-serif;
  font-weight: @fw;
}

.font-fm(@fw: normal) {
  font-family: "ITC New Veljovic DS Pro Book", Arial, sans-serif;
  font-weight: @fw;
}

// hidden
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-view {
  position: static;
  width: auto;
  height: auto;
  margin: auto;
  padding: auto;
  border: auto;
  clip: none;
  overflow: auto;
}